<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ heading }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">URL Shortener</a>
            </div>
            {% if heading == 'URLShortener' and session['username'] %}
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('logoutUser') }}">Logout</a></li>
                <li><a href="{{ url_for('viewSavedURLs') }}">View Saved URLs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">Hi {{ session['username'] }}</p>
            </ul>
            {% elif heading == 'Home - URLShortener' and not session['username'] %}
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            {% elif heading == 'Login - URLShortener' %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    }
{% block body %}
{% endblock %}
</div>
</body>
</html>
