{% extends 'layout.html' %}
{% block body %}
<div class="container container_size">
    <p class="text-center text-heading">URL Shortener</p>
    <div class="card bg-success" style="width:330px; margin:0 auto">
        <form action="http://localhost:5000/urlShort" method="POST">
            <div class="input-group urlBox">
                <input type="text" class="form-control" name="textURL">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Short URL</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% if session['show_url'] %}
    <div class="container-fluid">
        <table class="table tableHeading w3-margin-top">
            <thead>
                <th scope="col">Shorten URLs</th>
                <th scope="col">Long URLs</th>
                <th scopre="col">
            </thead>
            <tbody>
                <tr>
                    <td>{{ shorturl }}</td>
                    <td>{{ longurl }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% elif session['savedURLs'] %}
    <div class="container-fluid">
        <table class="table tableHeading w3-margin-top">
            <thead>
                <th scope="col">Shorten URLs Show</th>
                <th scope="col">Long URLs Show</th>
            </thead>
             <tbody>
                {% for Short, Long in tuplelongURL|zip(tupleshortURL) %}
                    <tr>
                        <td>{{ Short }}</td>
                        <td>{{ Long }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
